* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
 background-image: url("Colorful-Abstract-Backgrounds.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
.container{
    width: 100vw;
    height: 100vh;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}
.align-items-center{
    align-items: center;
}

.controls{}
.turn{}
.row{
}
.cell{
    border: 2px solid rgb(63, 63, 63);
    text-shadow: 4px 4px white;
    opacity: .5%;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.align-content-start{
    align-content: flex-start;
}
.flex-wrap{
    flex-wrap: wrap;
}
.btn{
    background-color:grey;
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.h100 {
    height: 100%;
}

.h90 {
    height: 82%;
}

.w100{
    width: 100%;
}

.w90{
    width: 90%;
}

.h30{
    height:30%;
}

.w30{
    width: 30%
}
.justify-content-flex-end{
    justify-content: flex-end;
}
.jusrify-content-flex-start{
    justify-content: flex-start;
}
.flex-grow-1{
    flex-grow: 1;
}
.px-6{
    padding-left: 2rem;
    padding-right: 2rem;
}

.h-4{
    height: 4rem;
}
.title{
    font-size: 4rem;
}

.br-none{
    border-right: none;
}
.bl-none{
    border-left: none;
}
.bb-none{
    border-bottom: none;
}
.bt-none{
    border-top: none;
}

.colorblue{
    color: black;
    opacity: .7;
    text-shadow: 2px 2px white;
}
.colorwhite{    
    color: white};
}



.backgroundcolor{
    background-color: white;
}