* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{

}
.container{
    width: 100vw;
    height: 100vh;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}
.align-items-center{
    align-items: center;
}

.controls{}
.turn{}
.row{
}
.cell{
    border: 1px solid black;
}
.btn{}

.h100 {
    height: 100%;
}

.h90 {
    height: 90%;
}

.w100{
    width: 100%;
}

.w90{
    width: 90%;
}

.h30{
    height:30%;
}

.w30{
    width: 30%
}